/* navbar */
.navbar {
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .06);
    padding: .7rem 0;
    margin-top: 20px;
}

.navbar .nav-link {
    font-weight: 500;
    color: #111;
    padding: 0.5rem 0.8rem;
}

.navbar .btn-pill {
    border-radius: 999px;
    padding: 0.5rem 1rem;
    font-weight: 600;
}

/* hero section */
.hero {
    position: relative;
    background: url(../img/bg/bgimg1.avif)no-repeat center center/cover;
    min-height: 88vh;
    display: flex;
    align-items: center;
    padding-top: 90px;
}

.hero .tag {
    display: inline-block;
    padding: 0.45rem 0.9rem;
    border: 1px solid #fff;
    border-radius: 999px;
    font-size: 0.8rem;
    letter-spacing: 0.4rem;
    background: rgba(255, 255, 255, .35);
    color: beige;
    margin-bottom: 0.5rem;
}

.hero h1 {
    color: bisque;
    font-weight: 500;
    font-size: 28px;
    margin: 0.3rem 0 0.6rem;
}

.hero p.lead {
    color: bisque;
    font-size: 0.98rem;
    margin-bottom: 1.2rem;
}

/* search */
.Search-wrap {
    max-width: 720px;
    margin-inline: auto;
}

.Search-wrap .form-control {
    border-radius: 999px;
    padding: 0.9rem 1.1rem;
    border: 1px solid #ddd;
    box-shadow: 0 6px 18px rgba(0,0,0,.06);
  
}

.Search-wrap .btn-search {
    border-radius: 999px;
    background: #e7c873;
    border: none;
    padding: 0.9rem 1.1rem;
}

/* chips */
.chips {
    gap: 0.6rem;
}

.chip {
    background: #6e6b6b;
    border: 1px solid #ddd;
    border-radius: 999px;
    padding: .55rem .9rem;
    font-weight: 600;
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    gap: .45rem;
    color: #fff;
    box-shadow: 0 6px 18px rgba(0,0,0,.06);
}
.chip i{
    font-size: 1rem;

}

/* second part */

.feature-box{
    text-align: center;
    padding: 20px;
}
.feature-box i{
    font-size: 40px;
    margin-bottom: 20px;
    color: #000;
}
.feature-box h5{
    font-weight: 600;
    margin-bottom: 10px;
}
.feature-box p{
    color: #666;
    font-size: 14px;
}

/* features */
.property-card{
    border: none;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow:0 4px 12px rgba(0, 0, 0, .06);
    width: 100%;
    max-width: 350px;
}
.property-badge{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 5;
}
.property-badge .badge{
    font-size: 12px;
    margin-right: 5px;
    border-radius: 999px;
}
.card-img-top{
    height: 220px;
    object-fit: cover;
}
.property-info{
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%);
    width: 70%;
    padding: 12px;
    border-radius:10px;
    box-shadow: 0 14px 12px rgba(0, 0, 0, .015);
}

/* cities */
.city-card{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    height: 280px;
    box-shadow: 0 12px 14px rgba(0,0,0, .015);
    background-color: #F7F7F7;
}
.city-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.city-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    background: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.1));
    color: #fff;
    text-align: left;
}

.city-overlay h5{
    margin: 0;
    font-weight: 600;
}
.city-overlay p{
    margin: 0;
    font-size: 14px;
}

/* home part */
.feature-item{
    display: flex;
    align-items: start;
    margin-bottom: 50px;
}
.feature-item i{
    font-size: 28px;
    color: goldenrod;
    margin-right: 10px;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* testimonials */
.testimonial{
    padding: 60px 0;
}
.rating i{
    color: goldenrod;
}
.nav-btn{
    border: 1px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background: transparent;
}
.testimonial-card{
    position: relative;
}
.quote-icon{
    font-size: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

/* company section */
.company-section{
    padding: 40px 0 0 0;
    text-align: center;
}
.company-logos{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}
.company-logo{
    height: 40px;
    display: flex;
    align-items: center;
}
.company-logo img{
    max-height: 40px;
    width: auto;
}

/* black section */
.property-section{
    background: #1A1A1A;
    color: #fff;
    padding: 50px 0;
}
.section-title{
    text-align: center;
    margin: 40px 0 20px;
}
.section-title p{
    color: #fff;
    font-size: 1rem;
}
.property-card{
    background: #222;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}
.property-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.badges{
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    gap: 10px;
    z-index: 2;
}
.badge-custom{
    background:#e6e6e6;
    color:  #224c3b;
    font-weight: 600;
    border-radius: 999px;
    padding: 4px 14px;
    font-size: 0.85rem;
}
.badge-featured{
    background: #f2c94c;
    color: #222;
}
.info-box{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 16px;
}
.info-box h5{
    margin-bottom: 6px;
    font-weight: 600;
}
.info-box .location{
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 8px;
}
.info-box .details{
    display: flex;
    gap: 12px;
    font-size: 0.9rem;
    margin-bottom: 6px;
    align-items: center;
}
.info-box .price{
    font-weight: 700;
    font-size: 1.1rem;
    margin-right: 12px;
}
.property-img-card{
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    height: 200px;
}
.property-img-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ddd;
    font-size: 2rem;
}
.property-info-card{
    background: #E7C873;
    color: #222;
    border-radius: 16px;
    padding: 24px;
    height: 100%;
}
.property-info-card h4{
    font-weight: 600;
    margin-bottom: 10px;
}
.arr-btn{
    background: #fff;
    color: #111;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    align-items: center;
}
/* team */
.team-card img{ 
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}
.team-card{
    border: none;
    background: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-name,
.team-role{
   text-align: left;
   width: 100%;
   margin-left: 0;
   color: black;
}

/* market */
.market-pill{
    border: 1px solid #222;
    border-radius: 25px;
    padding: 8px 16px;
    margin: 8px;
    background: #fff;
    display: inline-block;
    font-size: 1em;
}
.market-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* footer */
.footer{
    font-family:'roboto',sans-serif;
}
.footer h5{
    color: #8bb8b2;
}
.footer .btn-secondary {
    background: #335d57;
    border: none;
   color: #fff;
}
.footer ul li{
    margin-bottom: 5px;
}
@media (max-width:576px) {
    footer{
        text-align: center;
    }
    footer.row >div{
        margin-bottom: 20px;

    }
    footer .btn-secondary{
        width: 100%;
    }
    footer.form-control{
        width: 100%;
        margin-bottom: 10px;
    }
    
}